#### Display first three rows

In [1]:
import pandas as pd

def selectFirstRows(employees: pd.DataFrame) -> pd.DataFrame:
    return employees.iloc[0:3]

#### Create a new column with merging newly created list

In [3]:
import pandas as pd

def createBonusColumn(employees: pd.DataFrame) -> pd.DataFrame:
    bonus = []
    for index, row in employees.iterrows():
        bonus.append([row['salary'],row['salary']*2])
    
    df = pd.DataFrame(bonus,columns=['salary','bonus'])
    result = pd.merge(employees, df, on='salary', how='inner')
    return result

#### Create a DataFrame from 2D list

In [ ]:
import pandas as pd

def createDataframe(student_data: List[List[int]]) -> pd.DataFrame:
    column_names = ['student_id', 'age']

    df = pd.DataFrame(student_data, columns=column_names)
    return df

#### Get size of DataFrame

In [ ]:
import pandas as pd

def getDataframeSize(players: pd.DataFrame) -> List[int]:
    size = list(players.shape)
    return size

#### Select Data

In [ ]:
import pandas as pd

def selectData(students: pd.DataFrame) -> pd.DataFrame:
    selected_data = students[students['student_id'] == 101] 
    selected_data = selected_data.drop('student_id',axis=1) # axis = 1 for column, 0 for rows
    return selected_data

#### Drop Duplicate rows

In [ ]:
import pandas as pd

def dropDuplicateEmails(customers: pd.DataFrame) -> pd.DataFrame:
    result = customers.drop_duplicates(subset=['email'])
    return result

#### Drop missing Data

In [ ]:
import pandas as pd

def dropMissingData(students: pd.DataFrame) -> pd.DataFrame:
    result = students.dropna(subset=['name'])
    return result

#### Renaming table headings

In [ ]:
import pandas as pd

def renameColumns(students: pd.DataFrame) -> pd.DataFrame:
    column_names = {'id':'student_id', 'first':'first_name', 'last':'last_name', 'age':'age_in_years'}
    students = students.rename(columns=column_names)
    return students

#### Change Datatype

In [ ]:
import pandas as pd

def changeDatatype(students: pd.DataFrame) -> pd.DataFrame:
    students['grade'] = students['grade'].astype(int)
    return students

#### Fill missing data

In [ ]:
import pandas as pd

def fillMissingValues(products: pd.DataFrame) -> pd.DataFrame:
    products['quantity'] = products['quantity'].fillna(0)
    return products

#### Concatenate 2 Dataframes

In [ ]:
import pandas as pd

def concatenateTables(df1: pd.DataFrame, df2: pd.DataFrame) -> pd.DataFrame:
    result = pd.concat([df1,df2])
    return result

#### Creating pivot of Dataframe

In [ ]:
import pandas as pd

def pivotTable(weather: pd.DataFrame) -> pd.DataFrame:
    pivot_table = weather.pivot(index='month', columns='city', values='temperature')
    return pivot_table

#### Melting a dataframe

In [ ]:
import pandas as pd

def meltTable(report: pd.DataFrame) -> pd.DataFrame:
    result = pd.melt(report, id_vars=['product'], var_name = 'quarter', value_name='sales')
    return result

#### Method Chaining

In [1]:
import pandas as pd

def findHeavyAnimals(animals: pd.DataFrame) -> pd.DataFrame:
    return animals[
        animals['weight'] > 100
    ].sort_values(
        ['weight'], ascending=False,
    )[['name']]