## Variables

In [2]:
rent = 1220
gas = 202.5
groceries = 305.6

print(rent)

1220

In [3]:
total = rent + gas + groceries
print(total)

1728.1

In [4]:
print("Expense Items :",rent, gas, groceries)

Expense Items : 1220 202.5 305.6

## Numbers

In [9]:
a = 12 + 34 - 46
b = 3 - 4
c = 3 / 4
d = 4 * 5
e = 11 % 2
f = 3 ** 2

print(a,b, round(c,2), d, e, f)

0 -1 0.75 20 1 9

## Strings

In [10]:
txt = 'ice cream'
txt[0]

'i'

In [11]:
txt[0:3]

'ice'

In [12]:
txt[:3]

'ice'

In [13]:
txt[4:]

'cream'

In [14]:
s1 = 'Hello'
s2 = 'World'
print(s1+s2)

HelloWorld

In [15]:
num = 25
str(num)

'25'

## Lists

In [16]:
items = ['bread','pasta','fruits','veggies']
items[0]

'bread'

In [19]:
items[0] = 'chips'
items[0:2]

['chips', 'pasta']

In [20]:
items[-1]

'veggies'

In [21]:
items.append('butter')
items[-1]

'butter'

In [22]:
items.insert(1,'butter')
items[1]

'butter'

In [23]:
items

['chips', 'butter', 'pasta', 'fruits', 'veggies', 'butter']

In [25]:
food = ['bread','pasta','fruits']
bathroom = ['shampoo', 'soap']
items = food + bathroom
items

['bread', 'pasta', 'fruits', 'shampoo', 'soap']

In [28]:
len(items)

5

In [29]:
"bread" in items

True

## If..else

In [31]:
num = input('Enter a number')
num = int(num)

if(num%2==0):
    print("Number is even")
else:
    print("Number is odd")

Enter a number20
Number is even

## if...elif...else

In [32]:
indian = ['samosa', 'daal', 'naan']
chinese = ['egg', 'pol', 'sticker']
italian = ['pizza', 'pasta']

dish = input('Enter the dish name : ')

if dish in indian:
    print("Indian dish")
elif dish in chinese:
    print("Chinese dish")
elif dish in italian:
    print("Italian dish")
else:
    print("Sorry we dont have this here")

Enter the dish name : pol
Chinese dish

## For & While loop

In [33]:
exp = [2340,2500,2100,3900]
total = 0

for item in exp:
    total = total + item
print(total)

10840

In [34]:
# printing a number bw a range 

for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [35]:
# printing monthly expense with range

for i in range(len(exp)):
    print('Month ', (i+1), 'Expense: ',exp[i])
print("Total expense is : ",total)

Month  1 Expense:  2340
Month  2 Expense:  2500
Month  3 Expense:  2100
Month  4 Expense:  3900
Total expense is :  10840

In [36]:
i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

## Functions

In [39]:
def calculate_total(exp):
    total = 0
    for item in exp:
        total = total + item
    return total

tom_exp_list = [2100, 3400, 3500]
joe_exp_list = [200, 500, 700]

tom_total = calculate_total(tom_exp_list)
joe_total = calculate_total(joe_exp_list)

print("Tom's total : ",tom_total, "\nJoe's total : ",joe_total)

Tom's total :  9000
Joe's total :  1400

In [41]:
def sum(a,b):
    total = a+b
    return total
n = sum(5,6)
print("Total : ",n)

Total :  11

## Dictionaries & Tuples

In [42]:
d = {'tom': 98287398929, 'rob': 997828992001}
d

{'tom': 98287398929, 'rob': 997828992001}

In [43]:
d["tom"]

98287398929

In [44]:
d['sam'] = 7847548758493
d

{'tom': 98287398929, 'rob': 997828992001, 'sam': 7847548758493}

In [50]:
for key in d:
    print("key: ",key,"value : ",d[key])

key:  tom value :  98287398929
key:  rob value :  997828992001

In [51]:
for k,v in d.items():
    print("Key : ",k,"Value : ",v)

Key :  tom Value :  98287398929
Key :  rob Value :  997828992001

In [53]:
point = (5,6)
point

(5, 6)

## Working with JSON & File Handling

In [56]:
book = {}

book['tom'] = {
    'Name': 'Tom',
    'Addess': 'Red hanky street',
    'phone': 98723498237
}
book['joe'] = {
    'Name': 'Joe',
    'Address': 'Panky street',
    'phone': 24857238501
}

import json

# dumps dumps string 
s = json.dumps(book)
# create and opens a new txt file and write the json output inside s.

with open("bookData.txt","w") as f:
    f.write(s)
# writes the json string in the file

In [61]:
f = open('bookData.txt',"r")
s = f.read()
print(s)

{"tom": {"Name": "Tom", "Addess": "Red hanky street", "phone": 98723498237}, "joe": {"Name": "Joe", "Address": "Panky street", "phone": 24857238501}}

In [62]:
book = json.loads(s)

In [63]:
book

{'tom': {'Name': 'Tom', 'Addess': 'Red hanky street', 'phone': 98723498237},
 'joe': {'Name': 'Joe', 'Address': 'Panky street', 'phone': 24857238501}}

In [66]:
book['tom']['phone']

98723498237

In [68]:
for person in book:
    print(book[person])

{'Name': 'Tom', 'Addess': 'Red hanky street', 'phone': 98723498237}
{'Name': 'Joe', 'Address': 'Panky street', 'phone': 24857238501}

In [69]:
# acts as an entry point

if __name__ == "__main__":
    print('test')

test

## Classes and Objects

In [72]:
class Human:
    def __init__(self, n, o):
        self.name = n
        self.occupation = o
    
    def do_work(self):
        if self.occupation == 'tennis player':
            print(self.name, 'plays tennis')
        elif self.occupation == 'actor':
            print(self.name, 'Shoots a film')
    
    def speaks(self):
        print(self.name,"says how are you")
        
tom = Human("Tom","actor")
tom.do_work()
tom.speaks()

Tom Shoots a film
Tom says how are you